*{
	margin: 0;
	padding: 0;
			}
a{
	color: black;
}

			/* 头部制作 */
			
			/* 大头部 */
    .top{
    	 width:100%;
    	 height: 41.8PX;}
		 
		 /* 中间小框架 */
	.toop{
			 width:990px;
			 height:41px;
			 margin: 0 auto;}
			 
			 /* 腾讯标 */
	.top_1{
		 	width:150px;
		 	height: 41PX;
		 	float: left;}
			
			/* 广告标 */
	.top_2{
		 	width:230px;
		 	height: 41PX;
		 	float: left;
			margin-right: 350px;}
	.top_2d1{width: 840px;
		height: 190px;
		display: none;
		position: relative;
		top: -45.5px;
		background-color: white;}
    .top_2d1a{width: 840px;
		height: 41px;}
	.top_2d1b{position: relative;
	left:-150px;}
	.top_2:hover .top_2d1{display: block;}
	 
	 /* 守护标志 */
	.top_3{width:118px;
		 	height: 41px;
			float:left;}
	.font1{float:right;
		width:80px;
		height: 41px;
		font: 13px/41px "宋体";}
		
	/* 未知*/
	.font1 a{text-decoration: none;
		color: black;}
	.font1 a:hover{color: red;}
	
	/* 下拉游戏推荐 */
	.top_4{width:140.9px;
		 	height: 41PX;
		 	float:right;	
			font: 14px/41px "宋体";
			text-align: center;}
	.top_4 a{text-decoration: none;
	         color: black;}
	.top_4d1{width:1016px;
			height: 650PX;
			position: relative;
			left: -879px;
			display: none;
			background-color: white;}
	.top_4d1 a{color: dimgrey;}		
	 .top_4:hover .top_4d1{display: block; z-index: 1;}
     .top_4d1 a:hover{color: black;}
	.top_4d1a{width:437px;
				height: 650PX;
				float: left;
				padding-left: 50px;}
	.top_4d1aa{width:112px;
					height: 50.4PX;
					float: left;
					border-left: 5px solid gray;
					font: 18px/50px "宋体";
				    margin-right: 250px;}
	.toplist2{
			width: 218px;
			height: 549.6px;
			background-color: white;
			float: left;
			font: 16px/28px "宋体";
			text-align: left;
		}
		.top_4d1b{width:499px;
				height: 650PX;
				float: right;
				padding-left: 30px
				}
		.top_4 li{
			list-style-type: none;
			margin-bottom: 5px;
			font:19px/45px "宋体";
		}
		
		.toplist2a{
				width: 166.2px;
				height: 549.6px;
				float: left;
				font: 16px/28px "宋体";
				text-align: left;
			}
		

/* 导航栏制作 */
	.top1{width:100%;
		 	 height: 87PX;
		 	 background-color:rgb(0,0,0,0.8);
			
			 font:20px/60px "宋体";
			 color:white;
			 text-align: center;}
	.top1d1{
		width: 100%;
		height: 277px;
		background-color:rgb(0,0,0,0.7);
		position: relative;
		display: none;
		margin-top: 3px;}		 
	.top1:hover .top1d1{display: block;} 
	.top1 a{
		text-decoration: none;
		color: rgb(193,192,211);}
		
	.toop2{width:930px;
		height:277px;
		margin: 0 auto;
		font: 14px/30px "宋体";}
	.toop2 a:hover{
		color: rgb(237,188,87);
		text-decoration: underline;
	}
	.tooplist1{
		width: 110px;
		height: 260px;
		padding-top: 12px;
		float: left;
		margin-right: 3px;
	}
	.toop1{width:1300px;
		height:84px;
		margin: 0 auto;}
		
	.top1_1{width:200px;
		 	height: 54PX;
			margin-top: 13px;
		 	float: left;}
			
	.top1_2{width:110px;
		 	height: 84PX;
		 	float: left;}
			
	.top1_2:hover{
		color:rgb(237,188,87);
		background-image: linear-gradient(rgb(50,48,45,0.5),rgba(50,48,45,0.8),rgba(212,159,61,0.5));
		border-bottom: 3px solid orange;}	
		
	.topfont{
		width: 104.5px;
		height: 20px;
		margin: 0 auto;
		font:15px/20px "宋体";}	
			
	.top1_3{width:130px;
			height: 45PX;
			float:right;
			position: relative;
			top:20px;}
			
	.top1_4{width:43.6px;
			height: 43.6PX;
			float:right;
			margin-top: 20px;}
			
	
	.top1_5{width:64px;
			height: 20.8PX;
			font:15.5px/20.8px "宋体";
			text-align: left;}
	.top1_5 a{color:white;}
			
	.top1_6{width:130px;
			height: 23.9PX;
			font:14px/23.9px "宋体";
			text-align: left;
			color: rgb(193,192,211);}
			
	/* 空白部分 */
	.main1{
		 width:1200px;
		 height: 418PX;}
	.maina{
		display: block;
		width:1200px;
		height: 418PX;
		margin: 0 auto;}
	
	
		/* <!-- 周免英雄 --> */
       .main2{width:1200px;
		height: 115PX;
		margin: 0 auto;
		background-color: rgb(23,78,116);}
		.main2a{width:772px;
				height: 115PX;
				background-color:rgb(30,65,102);
				float: left;
				border-right: 20px  rgb(23,78,116)solid;}
		.main2b{width:106px;
				height: 115PX;
				float: left;}
		.main2c{width:272px;
				height: 106PX;
				float: left;
				margin-left: 16px;
				font: 15px/106px "宋体";
				color: gray;}
		.main2text1{
			      width:723px;
			       display: block;
					height:21PX;
			        float: left;
					font: 15px/21px "宋体";
					color: gray;
					margin-left: 25px;
					margin-top: 18px;
		}
		.main2text2{
			      width:34px;
					height:73PX;
			        float: right;
					font: 18px/19px "宋体";
					color: gray;
					text-align: center;
					margin-right: 8px;
					margin-top: 1px;
		}
		.box{width:700px;
			     
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					}
		.main2img1{
			      width:224px;
					height:69PX;
			        float: left;
					font: 18px/19px "宋体";
					color: gray;
					text-align: center;
					margin-right: 8px;
					margin-top: 1px;}
		.main2img2{
			      width:71px;
					height:69PX;
			        float: left;
					background-color: pink;
					text-align: center;
					margin-right: 7px;
					margin-top: 1px;}
		.main2d1{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left: -257px;
					top: -74px;
					display: none;}
		#a1:hover .main2d1{display: block;}
		.main2img3{
			      width:71px;
					height:69PX;
			        float: left;
					margin-right: 7px;
					margin-top: 1px;}
		.main2d2{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left: -335px;
					top:-74px;
					display: none;}
		#a2:hover .main2d2{display: block;}
		.main2d3{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left:-414px;
					top:-75px;
					display: none;}
		#a3:hover .main2d3{display: block;}
		.main2d4{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left:-492px;
					top:-76.5px;
					display: none;}
		#a4:hover .main2d4{display: block;}
		.main2d5{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left:-572px;
					top:-76.5px;
					display: none;}
		#a5:hover .main2d5{display: block;}
		.main2d6{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left:-646px;
					top:-75px;
					display: none;}
		#a6:hover .main2d6{display: block;}
		.main2d7{  width:700px;
					height:73PX;
			        float: left;
					margin-left: 25px;
					background-color: rgb(30,65,102);
					position: relative;
					left:-647.3px;
					top:-74px;
					display: nOne;}
		#a7:hover .main2d7{display: block;}
		
		
		
			/* <!-- 视频部分 -->	 */
       .main3{width:1200px;
       		height:590PX;
       		margin: 0 auto;
			padding-top:30px;} 
       .main3a{ width:1200px;
		   		height:20PX;
		   		margin: 0 auto;
				 font: 20px/20px "宋体";}
	    .main3ing1{
			display: block;
			width: 25px;
			height: 20px;
			float: left;}
	   .main3b{width:750px;
	   		   		height:510PX;
	   		   		margin: 0 auto;
					margin-top: 30px;}
		.main3b1{width:750px;
				height:56PX;
                float: left;}
		.main3b2{      width:750px;
						height:404PX;
				        float: left;}
		.main3b3{      width:274px;
						height:50PX;
				        float: right ;}
		.main3text1{width:442.5px;
		       display: block;
				height:56PX;
                float: left;
				font: 18px/56px "宋体";
				margin-right: 200px;}
		.main3text2{width:88.8px;
		       display: block;
				height:18PX;
		        float: left;
				font: 12px/18px "宋体";
				color: gray;
				margin-top: 18px;}
			.main3text3{width:78.2px;
			       display: block;
					height:50PX;
			        float: left;
					font: 18px/50px "宋体";
					color: gray;}
        .main3img1{width:11px;
               display: block;
        		height:11PX;
                float: left;
        		margin-top: 22px;
				margin-right: 5px;}
				
				.main3img2{width:16px;
						height:16PX;
						float: left;
						margin-top: 17px;
						margin-right: 10px;}
 




	/* 底部 */
	.bottom6{
		width: 100%;
		float:bottom;
		padding-top: 100px;
		padding-bottom: 50px;
	}
	
	.main6{
		 width:1200px;
		 height: 215PX;
		 margin: 0 auto;
	}
	.main6_1{
		 width:1200px;
		 height: 75.6PX;
		 float: left;
		 border-bottom: 1px gray solid;}
	.main6_1a{
		width:285px ;
		height: 64px;
		float: left;
		margin-right: 20.8px;
	 }
	 .main6_1b{
	 	width:70px ;
	 	height: 64px;
		float: left;
	  }
	  
	 .main6_2{
	 	 width:508px;
	 	 height:40PX;
	 	 float: left;
		 font:13px/20px "宋体 ";
		 color: gray;
		 margin-right: 42px;
	 }
	 .main6_3{
	 	 width:650px;
	 	 height:40PX;
	 	 float: left;
	 	 font:13px/20px "宋体 ";
	     color: gray;
	 }
	 .main6_4{
	 	 width:650px;
	 	 height:26PX;
	 	 float: left;
	 	 font:13px/20px "宋体 ";
	     color: gray;
	 }
	 .main6_4a{
	 	 width:378px;
	 	 height:26PX;
	 	 float: left;
	 	 font:12px/20px "宋体 ";
	     color: gray;
	 }
	 .main6_4b{
	 	 width:272px;
	 	 height:26PX;
	 	 float: left;
	 	 font:12px/20px "宋体 ";
	     color: gray;
	 }
	 .main6_5{
	 	 width:650px;
	 	 height:52PX;
	 	 float: left;
	 	 font:13px/20px "宋体 ";
	     color: gray;
	 }
	 
	.super{
		height: 617px;
		background-image: url(../img/106.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
		.guding{
			width:128px;
			height: 247px;
			position: fixed;
			top: 50%;
			right: 2px;
			text-align: center;
			background-image: url(../img/100.webp);
		}
		.gudingimg{
			position: relative;
			top: 125px;
		}